[
  {rabbit, [
    {loopback_users, []},

    {cluster_partition_handling, pause_minority},
    {log_levels, [{miroring, warning}]},

    {tcp_listen_options, [
      binary,
      {packet, raw},
      {reuseaddr, true},
      {backlog, 128},
      {nodelay, true},
      {exit_on_close, false},
      {keepalive, false}
    ]}
  ]}
].
